// colors

$primary-bg-color: #282c34;
$secondary-color: #6c757d;
$danger-text-color: red;
$primary-text-color: "#ddddd";

// fonts

$primary-base-font: 24px;
$secondary-base-font: 14px;
$primary-header-font: 32px;

// paddings

$primary-padding: 8px;
$secondary-padding: 4px;

// base fonts
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$code-font-stack: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
